<<<<<<< HEAD
.login-button{
    margin-right:'100px';
}

.Snippet{
overflow-y: hidden; /* Hide vertical scrollbar */
overflow-x: hidden; /* Hide horizontal scrollbar */
}

=======
.login-button{
    margin-right:'100px';
}

.Snippet{
overflow-y: hidden; /* Hide vertical scrollbar */
overflow-x: hidden; /* Hide horizontal scrollbar */
}

>>>>>>> 7b39565f18fe5334a9ea052437f7ff8b24ec3069
  